.git
.gitignore
.dockerignore

node_modules
**/node_modules

.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

dist
build
coverage
**/dist
**/build
**/coverage

postgres-data

*.log
npm-debug.log*

.DS_Store
.vscode
.idea
